<!DOCTYPE html>
<html>
<head>
  <title>{{category.name}}</title>
</head>
<body>
  <h1>News in {{category.name}}</h1>
  {{#each news}}
    <div>
      <h2>{{this.title}}</h2>
      <img src="{{this.thumbnail}}" alt="Thumbnail">
      <p>{{this.shortDescription}}</p>
      <p>Likes: {{this.likes}}</p>
      <p>Date: {{this.date}}</p>
    </div>
  {{/each}}
</body>
</html>