<!DOCTYPE html>
<html>
<head>
  <title>{{news.title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="my-4">{{news.title}}</h1>
        <img src="{{news.thumbnail}}" alt="Thumbnail" class="img-fluid mb-3 w-100">
        <div>
            <p>{{news.short_description}}</p>
            <p>Likes: {{news.likes}}</p>
            <p>Date: {{news.date}}</p>
        </div>
      </div>
    </div>
    <div class="row">
    <a href="/news/{{news.id}}/edit" class="btn btn-primary mt-3">Edit</a>
    </div>
  </div>
</body>
</html>
