<!DOCTYPE html>
<html>
<head>
  <title>{{news.title}}</title>
</head>
<body>
  <h1>{{news.title}}</h1>
  <img src="{{news.thumbnail}}" alt="Thumbnail">
  <p>{{news.shortDescription}}</p>
  <p>Likes: {{news.likes}}</p>
  <p>Date: {{news.date}}</p>
</body>
</html>
